html{
    height:100%;

}

body{

    background: url("../images/reach-the-sun-compressor.jpg") no-repeat center center  fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x:hidden;


}




.navbar-inverse{
    background-color: #1b6d85;
    opacity: 0.9;
    border: none;

}

.navbar .nav > li > a {

    color:white;

}

.logo {

    width:90px;
    height: 19px;


}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color:  #004d80;
}



.borderTest{
    border: 1px solid  #004d80;
}

.borderTestRed{
    border: 1px solid red;
}

.iframeGrid{
    margin-top: 30px;
}

.fadeIn1{
    -ms-transform:translateZ(0);
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay:2s;
    animation:fadein 3s;


}
.fadeIn2{
    -ms-transform:translateZ(0);
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay:4s;
    animation:fadein 6s;


}

.fadeIn3{
    -ms-transform:translateZ(0);
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay:6s;
    animation:fadein 8s;

}

.fadeIn4{
    -ms-transform:translateZ(0);
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay:6s;
    animation:fadein 9s;


}

div > .servicesTags{
    color: #1b6d85;
    text-decoration: none;

}

.showEffect1 , .showEffect2,
.showEffect3,.showEffect4, .showEffect5,.showEffect6
{
    position: relative;
    left: 110%;
}

.showEffect7{
    position: relative;
    right: 110%;
}


.servicesTags{
font-size: 25px;
}


@keyframes fadein {
    from {
        color: white;
    }
    to {
        color: #1b6d85;
    }
}

.iphone{
    width: 180px;
    height:320px;
}

.buttonsMain{
    height: 50px;
    width: 140px;
    background-color:  #1b6d85;
    color: white;
    border-radius: 8px;

}


.phoneDiv{
    display: inline-block;
    width:  230px;
    max-height:320px;
    position: relative;
    z-index : 1;
}

.centeredPhoneText{
    position: absolute;
    display: inline-block;
    top: 80px;
    left: 50px;
    font-size: 17px;
    width:140px;
}


.phoneDiv iframe{
    position: absolute;
    left: 45px;
    top: 50px;
    width:119px;
    height:192px ;
    z-index:2;
}


.weCreate{
    margin-top: 8%;
    font-weight: bold;
    color: #1b6d85;

}

.futureWebSites{
    font-weight: bold;
    color: #1b6d85;
    opacity: 0.9;
}

.textColor{
    color: #1b6d85;

}

.servicesSimple{
    height:70px;
    padding: 3px;
}

.yourSiteWillBe{
    margin-bottom:10px ;
    margin-top: 20px;
}

.zeroPadding{
    padding:0;
    margin: 0 auto;
}

.picturesIcons{
    margin: 0 auto;
height: 170px;

}

.picturesIcons2{
    margin: 0 auto;
    max-height:150px;

}

.outsideHeight{
    height: 410px;
    padding: 10px;

}

.portfolioPictures{
    max-height:450px;
    margin: 0 auto;
}

.imageRow{
    margin-top: 50px;
}

.imageRowServices{
    margin-top: 20px;
    background-color: rgba(255,255,255, 0.70);


}

.servicesRow{
    margin-bottom: 100px;
    height:100%;
}

.aboutMain{
    margin-top: 10px;
    background-color:white;
    padding:10px;
    border-radius: 4%;
    background-color: rgba(255,255,255, 0.88);
}

.findMeAlso{
    padding:10px;
    border-radius: 4%;
    background-color: white;
    width:150px;
    margin: 0 auto;
}



.aboutImg{
    display: block;
    margin: 0 auto;
    width:180px;
    margin-top: 10px;
    border-radius: 4%;

}

.submitButton{
    width:195px;
    margin-top: 10px;
    border-radius: 4%;
    background-color: white;
    padding: 5px;
}


.contactInfo{
    font-size: 17px;
}
.awards{
    box-shadow:-4px 15px 15px  black;
    border-radius: 10px;
    background-color: black;
    background-color: rgba(0,0,0, 0.9);

}



.phonePortfolio {
    height:250px;
    margin-top: 15px;
}

.borderPortfolio{
    border-radius:10% ;
    border: 1px solid  #004d80;
}

.imagesShadows{
    box-shadow:-4px 5px 5px  #f2f2f2;
    border-radius: 30px;
    background-color: white;

}


.bold{
    font-weight: bold;
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;

}


.alignCenter{
    text-align: center;
}


.navbar-nav > li > a {
    font-size: 16px;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.formInput{
    width: 300px;
}

.displayInline{
    display: inline-block;
}


div> .myProgress{
    margin: 5px;
}

.myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;

}

.maxedSkill, .eightyPercent, .ninetyPercent , .seventyPercent
, .eightyFivePercent
{
    background-color: white;
    position: absolute;
    height: 100%;

}

.workingSkill{
    background: linear-gradient(
            to right,
            white 0%,
            white 60%,
            grey 60%,
            grey 100%
    );
    height: 100%;
}


.maxedSkill > span{
    width: 210px;
}

.floatLeft {
    float: left;
}


#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}




@media (min-width: 768px) {
        .navbar > .container .navbar-brand,
        .navbar > .container-fluid .navbar-brand {
            margin-left: -15px;
        }
}

.copyrights{
    font-size: 8px;
}

.navbar-toggle {
   position: relative;
   float: right;

   margin-top: 8px;
   margin-right: 15px;

   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;

}
.navbar-toggle:focus {
   outline: 0;

}

.navbar-toggle .icon-bar {
   display: block;
   width: 15px;
   height: 2px;

}

.uniqueIframe{
    border: 1px solid black;
}

@media (max-width: 768px) {
        .uniqueIframe{
            display: none;
        }


        .iphone{
            display: none;
        }
        .servicesTags{
            display: block;
            font-size: 16px;
        }
        .servicesTags > span{
            display: none;
        }


        .phoneDiv{
            display: none;
        }

        .logo {
            margin-top: 5px;
            width:90px;
            height: 17px;

        }
        .servicesSimple{
            height:100px;
        }
        .awardsTitle{
            font-size: 20px;
        }
    .yourSiteWillBe{
        margin-bottom:0px ;

    }

    .showEffect1 , .showEffect2,
    .showEffect3,.showEffect4, .showEffect5,.showEffect6
    {
        position: relative;
        left: 0;
    }

    .showEffect7{
        position: relative;
        right: 0;
    }

    .outsideHeight{
        height: 424px;
        padding: 10px;

    }


}

#footerMain{
    position:absolute;
    bottom: 0;
}

.footerContainer{
    border-top: 1px solid white;
    width: 100%;
    font-size: small;
    background: rgba(0, 0, 0, 0.5);
}
#footerAwards,#footerAbout{
    margin-top: 200px;
}



.paypal-image{
    height: 35px;
}



.footerStatic{
    position: static;
    max-height:  20px;
    bottom: 0;
    border-top: 1px solid white;
    font-size: small;
    opacity: 0.7;
    width: 100%;
    margin-top: 11%;

}

.footerPortfolio{
    position: static;
    max-height:  20px;
    border-top: 1px solid white;
    font-size: small;
    opacity: 0.7;
    width: 100%;
    margin-top: 10px;
    line-height: 1;
}



.footerAboutMe{
    position: absolute;
    max-height:  20px;
    bottom: 0;
    border-top: 1px solid white;
    font-size: small;
    opacity: 0.7;
    width: 100%;
    margin-top: 30px;
}

.signature>a{

    color: white;
    text-decoration: none;
}

h4>.learnMore{
    color: #1b6d85;
    text-decoration: none;
}

div>.learnMore{
    color: #1b6d85;
    text-decoration: none;
    font-size: 8px;
}

.signatureLogo{
    width: 100px;
    height:12px;
    margin:0px 3px 0px 3px;
}


footer{

    display: block;

}
.footerContact , .footerAbout{
    cursor: pointer;
}

.copyrights, .copyrights >div{
    display: inline-block;
    text-align: center;
    color: white;

}



@media (max-width: 768px) {
    .copyrights, .copyrights >div{
        text-align: center;

    }
    .copyrights{
        margin-top: 5px;
    }


    .footerContainer{

        height:80px;
    }

    .footerStatic{
        margin-bottom: 14px;
        text-align: center;

    }

    .phonePortfolio{
        display: none;
    }
    .servicesSimple{
        height:85px;

    }
    .footerAboutMe {
        position: static;
        max-height: 20px;
        bottom: 0;
        border-top: 1px solid white;
        font-size: small;
        opacity: 0.7;
        width: 100%;
        margin-top: 30px;
    }

    .contactMe{
        margin-bottom: 140px;
    }


    .fadeIn1 ,.fadeIn2, .fadeIn3,.fadeIn4{
        /*Remove animation on smaller devics for smoother user experience*/
        /*CSS transitions*/

        -o-transition-property: none !important;

        -moz-transition-property: none !important;

        -ms-transition-property: none !important;

        -webkit-transition-property: none !important;

        transition-property: none !important;

        /*CSS transforms*/

        -o-transform: none !important;

        -moz-transform: none !important;

        -ms-transform: none !important;

        -webkit-transform: none !important;

        transform: none !important;

        /*CSS animations*/

        -webkit-animation: none !important;

        -moz-animation: none !important;

        -o-animation: none !important;

        -ms-animation: none !important;

        animation: none !important;


    }

}



@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
    .footerStatic{
        position: static;
        max-height:  20px;
        bottom: 0;
        border-top: 1px solid white;
        font-size: small;
        opacity: 0.7;
        width: 100%;
    }

    .footerContainer{

        text-align: center;
        height: 65px;

    }
    .copyrights{
        font-size: 6px;
    }

    .paypal-image{
        height: 30px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .iphone{
        display: none;
    }

    .phoneDiv{
        display: none;
    }




    .footerAboutMe{
        position: absolute;
        max-height:  20px;
        bottom: 0;
        border-top: 1px solid white;
        font-size: small;
        opacity: 0.7;
        width: 100%;
        margin-top: 30px;
    }

    .footerStatic{
        position: static;
        max-height:  20px;
        bottom: 0;
        border-top: 1px solid white;
        font-size: small;
        opacity: 0.7;
        width: 100%;
    }

    .footerAwards{
        margin-top: 10%;
        position: static;
    }


}

@media screen and (min-device-width: 400px) and (max-device-width: 767px) {
    .weCreate{
    margin-top: 1%;
    }
    #footerAwards{
        position: relative;
        margin-top: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1024px){
.footerContainer{
    height: 65px;

}
}

@media (min-width: 1024px){
    .mainHeader{
        display: none;
    }



    .footerStatic{
        position: static;
        max-height:  20px;
        border-top: 1px solid white;
        font-size: small;
        opacity: 0.7;
        width: 100%;
        margin-top: 11%;
    }


    .footerAwards {
        position: absolute;
        max-height: 20px;
        bottom: 0;

        font-size: small;
        opacity: 0.7;
        width: 100%;
    }




}

.whiteBackPortfolio{
    background-color: white;
    padding: 10px;
    border-radius:20px ;
}



.centerImg{
    margin: 0 auto;
    display: block;

}

@media (min-width: 1200px){
    .signature{
       line-height:  35px;
    }
    #footerContact{
        position:absolute;
        bottom: 0;

    }

}



#footerStatic{
    position: relative;
}




@media (min-height: 260px) and (max-width:600px){
    #footerAwards{
        position: absolute;
        bottom: 0;
    }
    #footerAbout{
        position: relative;
        margin-top: 25%;
    }
    #footerContact{
        position: relative;
    }




}

@media (min-width: 411px)and (max-height: 340px){

    .footerContainer{
        position:relative;
        margin-top: 30px;
    }
    #footerContact{
        position: relative;


    }

    #footerAwards{
        position: relative;
        margin-top: 80px;
    }

    #footerMain{
        position: relative;
        margin-top: 50px;
    }

}
@media (min-width: 481px)and (max-width: 719px){

    #footerAwards{
        position: relative;
        margin-top: 80px;
    }

}


@media (min-width:480px)and (max-width: 719px){
    #footerContact{
        position: relative;
        margin-top: 250px;

    }


}



@media (min-width: 720px)and (min-height:1024px) {

    #footerAwards {
        position: absolute;
        bottom: 0;

    }

    #footerContact{
        position:absolute;
        bottom: 0;


    }

    #footerAbout{
        position: relative;
        margin-top: 15%;
    }
}

@media (min-width: 1024px)and(max-width: 1024px) {
    #footerAwards ,#footerContact{
        position: absolute;
        bottom: 0;

    }
    .awards{
        margin-bottom: 0px;
    }
    #footerAbout{
        margin-top: 15%;

    }
}

@media (min-width: 1280px)and(min-height: 600px)and (max-width:1365px){
    #footerAwards{
        position: relative;
        margin-top: 300px;
    }
    #footerAbout{
        position: relative;
        margin-top: 100px;
    }

    #footerContact{
        position: absolute;
        bottom: 0;

    }
}
@media (min-width: 1025px)and (min-height: 720px)and (max-width: 1279px){
    #footerAwards {
        position: relative;
        margin-top: 400px;
    }
    #footerAbout{
        position: absolute;
        bottom: 0;

    }
    #footerMain{
        position: absolute;
        bottom: 0;
    }

        #footerContact{
            position: relative;
            margin-top: 200px;

    }


}

@media (min-width: 900px)and (max-width: 1200px){
    #footerContact{
        position: relative;
        margin-top: 200px;

    }
}

@media (min-width: 1369px){

    #footerAbout{
        position: absolute;
        bottom: 0;

    }
    #footerAwards {
        position: relative;
        margin-top: 400px;
    }
    #footerContact{
        position: absolute;
        bottom: 0;

    }

}





